/* .item-container {
  transition: transform 0.3s ease;
}

.item-container:hover {
  transform: scale(1.05);
} */

.list-item-link {
  color: var(--navy-blue);
}

.list-item-link:hover {
  color: var(--forest-green);
}

.list-group-item {
  background-color: var(--forest-green);
}
