.custom-header {
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

.custom-header.sm {
  font-size: 16px;
}

.custom-header.md {
  font-size: 24px;
}

.custom-header.lg {
  font-size: 32px;
}

.custom-header.xlg {
  font-size: 48px;
}
